.terminal {
    color: white;
    background: black;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    opacity: 0.5;
    font-size: 8;
    font-family: monospace;
    width: 50%;
    overflow: hidden;

    max-width: 300px;
}

main.container {
    padding-bottom: 30px;
}

hr {
    float: none;
    display: block;
    clear: both;
}